* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: whitesmoke;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  width: 80%;
  height: 500px;
  text-align: center;
  margin: 10px auto;
  background-color: #e8e9f3;
  border-radius: 10px;
  border: 5px solid #2274a5;
}

.header h1 {
  text-align: center;
  margin: 10px auto;
  letter-spacing: 0.15px;
}

.info h2 {
  font-weight: 300;
}

.pwField {
  margin: auto;
  width: 300px;
  height: 30px;
  justify-content: center;
  margin-top: 2px;
  /* border: 2px solid; */
}

.pwBox {
  border-radius: 10px;
  border: 2px solid lightgray;
  background: #ededed;
  text-align: center;
  font-size: large;
  width: 225px;
}

.buttons {
  /* display: flex; */
  justify-content: center;
  text-align: right;
  margin-top: 5px;
}

.left {
  float: left;
  margin: auto;
}

.right {
  float: right;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.copyright {
  /* position: absolute; */
  bottom: 0;
}
