* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: whitesmoke;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 800px;
  text-align: center;
  margin-top: 25%;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px
}